/* hide upload file */
input[type="file"] {
  visibility: hidden;
}

.image-style {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}