<div class="container info-detail" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-3">
        <div class="detail-group">
            <button type="button" class="btn btn-large btn-info btn-block">Detailed Information</button>
        </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="detail-image" [src]="travelInfo.imagePath">
        <div class="caption-full">
          <h4>{{ travelInfo.name }}</h4>
          <p class="price-right">$ {{ travelInfo.price }} /person</p>
          <p>{{ travelInfo.description }}</p>
          <p>
            <em>Submitted By {{ travelInfo.creator }}</em>
          </p>
          <div class="button-right" *ngIf="currentUser === travelInfo.creator">
            <button class="btn btn-xs btn-warning" [routerLink]="['/travel-info-edit', travelInfo.id]">Edit</button>
            <button class="btn btn-xs btn-danger" (click)="onDeleteTravelInfo(travelInfo.id)">Delete</button>
          </div>
          <hr>
          <div class="comment-right">
            <a class="btn btn-primary" [routerLink]="['/travel-info-comment', travelInfo.id]">Add New Comment</a>
          </div>
          <div *ngFor="let comment of comments">
            <p>{{ comment.comment }} </p>
            <p>
              <em>Submitted By {{ comment.creator }}</em>
            </p>
            <div class="button-right" *ngIf="currentUser === comment.creator">
              <button class="btn btn-xs btn-warning" [routerLink]="['/travel-info-comment', travelInfo.id, comment._id]">Edit</button>
              <button class="btn btn-xs btn-danger" (click)="onDeleteComment(comment._id)">Delete</button>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>