.info-detail {
  margin-top: 2%;
}

.detail-group {
  margin-bottom: 3%;
}

.detail-image {
  height: 100%;
  width: 100%;
}

.price-right {
  text-align: right;
  color: green;
  font-weight: bold;
}

h4 {
  color: peru;
  font-weight: bold;
}

.button-right {
  text-align: right;
}

button {
  margin-right: 10px;
}

.comment-right {
  text-align: right;
  color: white;
}